$icomoon-font-family: "GeneralIcons" !default;
$icomoon-font-path: "fonts" !default;

$icon-dragon: "\eb85";
$icon-fire: "\eb86";
$icon-danger: "\eb86";
$icon-flame: "\eb86";
$icon-hot: "\eb86";
$icon-asterisk: "\f069";
$icon-plus1: "\f067";
$icon-question1: "\f128";
$icon-minus1: "\f068";
$icon-glass1: "\f000";
$icon-music2: "\f001";
$icon-search2: "\f002";
$icon-envelope-o: "\f003";
$icon-heart2: "\f004";
$icon-star1: "\f005";
$icon-star-o: "\f006";
$icon-user4: "\f007";
$icon-film2: "\f008";
$icon-th-large: "\f009";
$icon-th: "\f00a";
$icon-th-list: "\f00b";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-search-plus: "\f00e";
$icon-search-minus: "\f010";
$icon-power-off: "\f011";
$icon-signal: "\f012";
$icon-cog2: "\f013";
$icon-gear: "\f013";
$icon-trash-o: "\f014";
$icon-home1: "\f015";
$icon-file-o: "\f016";
$icon-clock-o: "\f017";
$icon-road1: "\f018";
$icon-download1: "\f019";
$icon-arrow-circle-o-down: "\f01a";
$icon-arrow-circle-o-up: "\f01b";
$icon-inbox: "\f01c";
$icon-play-circle-o: "\f01d";
$icon-repeat: "\f01e";
$icon-rotate-right: "\f01e";
$icon-refresh1: "\f021";
$icon-list-alt: "\f022";
$icon-lock1: "\f023";
$icon-flag2: "\f024";
$icon-headphones1: "\f025";
$icon-volume-off: "\f026";
$icon-volume-down: "\f027";
$icon-volume-up: "\f028";
$icon-qrcode1: "\f029";
$icon-barcode1: "\f02a";
$icon-tag1: "\f02b";
$icon-tags: "\f02c";
$icon-book2: "\f02d";
$icon-bookmark3: "\f02e";
$icon-print: "\f02f";
$icon-camera5: "\f030";
$icon-font1: "\f031";
$icon-bold1: "\f032";
$icon-italic1: "\f033";
$icon-text-height1: "\f034";
$icon-text-width1: "\f035";
$icon-align-left: "\f036";
$icon-align-center: "\f037";
$icon-align-right: "\f038";
$icon-align-justify: "\f039";
$icon-list1: "\f03a";
$icon-dedent: "\f03b";
$icon-outdent: "\f03b";
$icon-indent: "\f03c";
$icon-video-camera1: "\f03d";
$icon-image1: "\f03e";
$icon-photo: "\f03e";
$icon-picture-o: "\f03e";
$icon-pencil3: "\f040";
$icon-map-marker: "\f041";
$icon-adjust: "\f042";
$icon-tint: "\f043";
$icon-edit: "\f044";
$icon-pencil-square-o: "\f044";
$icon-share-square-o: "\f045";
$icon-check-square-o: "\f046";
$icon-arrows: "\f047";
$icon-step-backward: "\f048";
$icon-fast-backward: "\f049";
$icon-backward1: "\f04a";
$icon-play1: "\f04b";
$icon-pause1: "\f04c";
$icon-stop1: "\f04d";
$icon-forward1: "\f04e";
$icon-fast-forward: "\f050";
$icon-step-forward: "\f051";
$icon-eject1: "\f052";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-times-circle: "\f057";
$icon-check-circle: "\f058";
$icon-question-circle: "\f059";
$icon-info-circle: "\f05a";
$icon-crosshairs: "\f05b";
$icon-times-circle-o: "\f05c";
$icon-check-circle-o: "\f05d";
$icon-ban: "\f05e";
$icon-arrow-left3: "\f060";
$icon-arrow-right3: "\f061";
$icon-arrow-up3: "\f062";
$icon-arrow-down3: "\f063";
$icon-mail-forward: "\f064";
$icon-share3: "\f064";
$icon-expand: "\f065";
$icon-compress: "\f066";
$icon-exclamation-circle: "\f06a";
$icon-gift2: "\f06b";
$icon-leaf2: "\f06c";
$icon-fire11: "\f06d";
$icon-eye2: "\f06e";
$icon-eye-slash: "\f070";
$icon-exclamation-triangle: "\f071";
$icon-warning1: "\f071";
$icon-plane: "\f072";
$icon-calendar1: "\f073";
$icon-random: "\f074";
$icon-comment: "\f075";
$icon-magnet1: "\f076";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-retweet: "\f079";
$icon-shopping-cart: "\f07a";
$icon-folder2: "\f07b";
$icon-folder-open1: "\f07c";
$icon-arrows-v: "\f07d";
$icon-arrows-h: "\f07e";
$icon-bar-chart: "\f080";
$icon-bar-chart-o: "\f080";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-camera-retro: "\f083";
$icon-key3: "\f084";
$icon-cogs1: "\f085";
$icon-gears: "\f085";
$icon-comments: "\f086";
$icon-thumbs-o-up: "\f087";
$icon-thumbs-o-down: "\f088";
$icon-star-half1: "\f089";
$icon-heart-o: "\f08a";
$icon-sign-out: "\f08b";
$icon-linkedin-square: "\f08c";
$icon-thumb-tack: "\f08d";
$icon-external-link: "\f08e";
$icon-sign-in: "\f090";
$icon-trophy1: "\f091";
$icon-github-square: "\f092";
$icon-upload1: "\f093";
$icon-lemon-o: "\f094";
$icon-phone4: "\f095";
$icon-square-o: "\f096";
$icon-bookmark-o: "\f097";
$icon-phone-square: "\f098";
$icon-twitter1: "\f099";
$icon-facebook3: "\f09a";
$icon-facebook-f: "\f09a";
$icon-github1: "\f09b";
$icon-unlock: "\f09c";
$icon-credit-card1: "\f09d";
$icon-feed2: "\f09e";
$icon-rss1: "\f09e";
$icon-hdd-o: "\f0a0";
$icon-bullhorn1: "\f0a1";
$icon-bell-o: "\f0a2";
$icon-certificate: "\f0a3";
$icon-hand-o-right: "\f0a4";
$icon-hand-o-left: "\f0a5";
$icon-hand-o-up: "\f0a6";
$icon-hand-o-down: "\f0a7";
$icon-arrow-circle-left: "\f0a8";
$icon-arrow-circle-right: "\f0a9";
$icon-arrow-circle-up: "\f0aa";
$icon-arrow-circle-down: "\f0ab";
$icon-globe1: "\f0ac";
$icon-wrench1: "\f0ad";
$icon-tasks: "\f0ae";
$icon-filter1: "\f0b0";
$icon-briefcase1: "\f0b1";
$icon-arrows-alt: "\f0b2";
$icon-group: "\f0c0";
$icon-users1: "\f0c0";
$icon-chain: "\f0c1";
$icon-link1: "\f0c1";
$icon-cloud2: "\f0c2";
$icon-flask: "\f0c3";
$icon-cut: "\f0c4";
$icon-scissors2: "\f0c4";
$icon-copy1: "\f0c5";
$icon-files-o: "\f0c5";
$icon-paperclip: "\f0c6";
$icon-floppy-o: "\f0c7";
$icon-save: "\f0c7";
$icon-square: "\f0c8";
$icon-bars: "\f0c9";
$icon-navicon: "\f0c9";
$icon-reorder: "\f0c9";
$icon-list-ul: "\f0ca";
$icon-list-ol: "\f0cb";
$icon-strikethrough1: "\f0cc";
$icon-underline1: "\f0cd";
$icon-table1: "\f0ce";
$icon-magic: "\f0d0";
$icon-truck2: "\f0d1";
$icon-pinterest1: "\f0d2";
$icon-pinterest-square: "\f0d3";
$icon-google-plus-square: "\f0d4";
$icon-google-plus1: "\f0d5";
$icon-money: "\f0d6";
$icon-caret-down: "\f0d7";
$icon-caret-up: "\f0d8";
$icon-caret-left: "\f0d9";
$icon-caret-right: "\f0da";
$icon-columns: "\f0db";
$icon-sort: "\f0dc";
$icon-unsorted: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-down: "\f0dd";
$icon-sort-asc: "\f0de";
$icon-sort-up: "\f0de";
$icon-envelope2: "\f0e0";
$icon-linkedin1: "\f0e1";
$icon-rotate-left: "\f0e2";
$icon-undo1: "\f0e2";
$icon-gavel: "\f0e3";
$icon-legal: "\f0e3";
$icon-dashboard: "\f0e4";
$icon-tachometer: "\f0e4";
$icon-comment-o: "\f0e5";
$icon-comments-o: "\f0e6";
$icon-bolt: "\f0e7";
$icon-flash: "\f0e7";
$icon-sitemap: "\f0e8";
$icon-umbrella1: "\f0e9";
$icon-clipboard3: "\f0ea";
$icon-paste1: "\f0ea";
$icon-lightbulb-o: "\f0eb";
$icon-exchange: "\f0ec";
$icon-cloud-download1: "\f0ed";
$icon-cloud-upload1: "\f0ee";
$icon-user-md: "\f0f0";
$icon-stethoscope: "\f0f1";
$icon-suitcase1: "\f0f2";
$icon-bell1: "\f0f3";
$icon-coffee: "\f0f4";
$icon-cutlery: "\f0f5";
$icon-file-text-o: "\f0f6";
$icon-building-o: "\f0f7";
$icon-hospital-o: "\f0f8";
$icon-ambulance: "\f0f9";
$icon-medkit: "\f0fa";
$icon-fighter-jet: "\f0fb";
$icon-beer: "\f0fc";
$icon-h-square: "\f0fd";
$icon-plus-square: "\f0fe";
$icon-angle-double-left: "\f100";
$icon-angle-double-right: "\f101";
$icon-angle-double-up: "\f102";
$icon-angle-double-down: "\f103";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-desktop: "\f108";
$icon-laptop2: "\f109";
$icon-tablet1: "\f10a";
$icon-mobile3: "\f10b";
$icon-mobile-phone: "\f10b";
$icon-circle-o: "\f10c";
$icon-quote-left: "\f10d";
$icon-quote-right: "\f10e";
$icon-spinner1: "\f110";
$icon-circle: "\f111";
$icon-mail-reply: "\f112";
$icon-reply1: "\f112";
$icon-github-alt: "\f113";
$icon-folder-o: "\f114";
$icon-folder-open-o: "\f115";
$icon-smile-o: "\f118";
$icon-frown-o: "\f119";
$icon-meh-o: "\f11a";
$icon-gamepad2: "\f11b";
$icon-keyboard-o: "\f11c";
$icon-flag-o: "\f11d";
$icon-flag-checkered: "\f11e";
$icon-terminal1: "\f120";
$icon-code: "\f121";
$icon-mail-reply-all: "\f122";
$icon-reply-all: "\f122";
$icon-star-half-empty: "\f123";
$icon-star-half-full: "\f123";
$icon-star-half-o: "\f123";
$icon-location-arrow: "\f124";
$icon-crop1: "\f125";
$icon-code-fork: "\f126";
$icon-chain-broken: "\f127";
$icon-unlink: "\f127";
$icon-info2: "\f129";
$icon-exclamation: "\f12a";
$icon-superscript1: "\f12b";
$icon-subscript1: "\f12c";
$icon-eraser: "\f12d";
$icon-puzzle-piece: "\f12e";
$icon-microphone1: "\f130";
$icon-microphone-slash: "\f131";
$icon-shield2: "\f132";
$icon-calendar-o: "\f133";
$icon-fire-extinguisher: "\f134";
$icon-rocket1: "\f135";
$icon-maxcdn: "\f136";
$icon-chevron-circle-left: "\f137";
$icon-chevron-circle-right: "\f138";
$icon-chevron-circle-up: "\f139";
$icon-chevron-circle-down: "\f13a";
$icon-html5: "\f13b";
$icon-css31: "\f13c";
$icon-anchor: "\f13d";
$icon-unlock-alt: "\f13e";
$icon-bullseye: "\f140";
$icon-ellipsis-h: "\f141";
$icon-ellipsis-v: "\f142";
$icon-rss-square: "\f143";
$icon-play-circle: "\f144";
$icon-ticket1: "\f145";
$icon-minus-square: "\f146";
$icon-minus-square-o: "\f147";
$icon-level-up: "\f148";
$icon-level-down: "\f149";
$icon-check-square: "\f14a";
$icon-pencil-square: "\f14b";
$icon-external-link-square: "\f14c";
$icon-share-square: "\f14d";
$icon-compass1: "\f14e";
$icon-caret-square-o-down: "\f150";
$icon-toggle-down: "\f150";
$icon-caret-square-o-up: "\f151";
$icon-toggle-up: "\f151";
$icon-caret-square-o-right: "\f152";
$icon-toggle-right: "\f152";
$icon-eur: "\f153";
$icon-euro: "\f153";
$icon-gbp: "\f154";
$icon-dollar: "\f155";
$icon-usd: "\f155";
$icon-inr: "\f156";
$icon-rupee: "\f156";
$icon-cny: "\f157";
$icon-jpy: "\f157";
$icon-rmb: "\f157";
$icon-yen: "\f157";
$icon-rouble: "\f158";
$icon-rub: "\f158";
$icon-ruble: "\f158";
$icon-krw: "\f159";
$icon-won: "\f159";
$icon-bitcoin: "\f15a";
$icon-btc: "\f15a";
$icon-file1: "\f15b";
$icon-file-text1: "\f15c";
$icon-sort-alpha-asc1: "\f15d";
$icon-sort-alpha-desc1: "\f15e";
$icon-sort-amount-asc1: "\f160";
$icon-sort-amount-desc1: "\f161";
$icon-sort-numeric-asc1: "\f162";
$icon-sort-numeric-desc: "\f163";
$icon-thumbs-up: "\f164";
$icon-thumbs-down: "\f165";
$icon-youtube-square: "\f166";
$icon-youtube1: "\f167";
$icon-xing1: "\f168";
$icon-xing-square: "\f169";
$icon-youtube-play: "\f16a";
$icon-dropbox1: "\f16b";
$icon-stack-overflow: "\f16c";
$icon-instagram1: "\f16d";
$icon-flickr1: "\f16e";
$icon-adn: "\f170";
$icon-bitbucket: "\f171";
$icon-bitbucket-square: "\f172";
$icon-tumblr1: "\f173";
$icon-tumblr-square: "\f174";
$icon-long-arrow-down: "\f175";
$icon-long-arrow-up: "\f176";
$icon-long-arrow-left: "\f177";
$icon-long-arrow-right: "\f178";
$icon-apple: "\f179";
$icon-windows1: "\f17a";
$icon-android1: "\f17b";
$icon-linux: "\f17c";
$icon-dribbble1: "\f17d";
$icon-skype1: "\f17e";
$icon-foursquare1: "\f180";
$icon-trello1: "\f181";
$icon-female: "\f182";
$icon-male: "\f183";
$icon-gittip: "\f184";
$icon-gratipay: "\f184";
$icon-sun-o: "\f185";
$icon-moon-o: "\f186";
$icon-archive: "\f187";
$icon-bug2: "\f188";
$icon-vk1: "\f189";
$icon-weibo: "\f18a";
$icon-renren1: "\f18b";
$icon-pagelines: "\f18c";
$icon-stack-exchange: "\f18d";
$icon-arrow-circle-o-right: "\f18e";
$icon-arrow-circle-o-left: "\f190";
$icon-caret-square-o-left: "\f191";
$icon-toggle-left: "\f191";
$icon-dot-circle-o: "\f192";
$icon-wheelchair: "\f193";
$icon-vimeo-square: "\f194";
$icon-try: "\f195";
$icon-turkish-lira: "\f195";
$icon-plus-square-o: "\f196";
$icon-space-shuttle: "\f197";
$icon-slack: "\f198";
$icon-envelope-square: "\f199";
$icon-wordpress1: "\f19a";
$icon-openid: "\f19b";
$icon-bank: "\f19c";
$icon-institution: "\f19c";
$icon-university: "\f19c";
$icon-graduation-cap: "\f19d";
$icon-mortar-board: "\f19d";
$icon-yahoo1: "\f19e";
$icon-google1: "\f1a0";
$icon-reddit1: "\f1a1";
$icon-reddit-square: "\f1a2";
$icon-stumbleupon-circle: "\f1a3";
$icon-stumbleupon1: "\f1a4";
$icon-delicious1: "\f1a5";
$icon-digg: "\f1a6";
$icon-pied-piper-pp: "\f1a7";
$icon-pied-piper-alt: "\f1a8";
$icon-drupal: "\f1a9";
$icon-joomla1: "\f1aa";
$icon-language: "\f1ab";
$icon-fax: "\f1ac";
$icon-building: "\f1ad";
$icon-child: "\f1ae";
$icon-paw: "\f1b0";
$icon-spoon: "\f1b1";
$icon-cube: "\f1b2";
$icon-cubes: "\f1b3";
$icon-behance1: "\f1b4";
$icon-behance-square: "\f1b5";
$icon-steam1: "\f1b6";
$icon-steam-square: "\f1b7";
$icon-recycle: "\f1b8";
$icon-automobile: "\f1b9";
$icon-car1: "\f1b9";
$icon-cab: "\f1ba";
$icon-taxi: "\f1ba";
$icon-tree2: "\f1bb";
$icon-spotify1: "\f1bc";
$icon-deviantart1: "\f1bd";
$icon-soundcloud1: "\f1be";
$icon-database1: "\f1c0";
$icon-file-pdf-o: "\f1c1";
$icon-file-word-o: "\f1c2";
$icon-file-excel-o: "\f1c3";
$icon-file-powerpoint-o: "\f1c4";
$icon-file-image-o: "\f1c5";
$icon-file-photo-o: "\f1c5";
$icon-file-picture-o: "\f1c5";
$icon-file-archive-o: "\f1c6";
$icon-file-zip-o: "\f1c6";
$icon-file-audio-o: "\f1c7";
$icon-file-sound-o: "\f1c7";
$icon-file-movie-o: "\f1c8";
$icon-file-video-o: "\f1c8";
$icon-file-code-o: "\f1c9";
$icon-vine1: "\f1ca";
$icon-codepen1: "\f1cb";
$icon-jsfiddle: "\f1cc";
$icon-life-bouy: "\f1cd";
$icon-life-buoy: "\f1cd";
$icon-life-ring: "\f1cd";
$icon-life-saver: "\f1cd";
$icon-support1: "\f1cd";
$icon-circle-o-notch: "\f1ce";
$icon-ra: "\f1d0";
$icon-rebel: "\f1d0";
$icon-resistance: "\f1d0";
$icon-empire: "\f1d1";
$icon-ge: "\f1d1";
$icon-git-square: "\f1d2";
$icon-git1: "\f1d3";
$icon-hacker-news: "\f1d4";
$icon-y-combinator-square: "\f1d4";
$icon-yc-square: "\f1d4";
$icon-tencent-weibo: "\f1d5";
$icon-qq: "\f1d6";
$icon-wechat: "\f1d7";
$icon-weixin: "\f1d7";
$icon-paper-plane: "\f1d8";
$icon-send: "\f1d8";
$icon-paper-plane-o: "\f1d9";
$icon-send-o: "\f1d9";
$icon-history1: "\f1da";
$icon-circle-thin: "\f1db";
$icon-header: "\f1dc";
$icon-paragraph: "\f1dd";
$icon-sliders: "\f1de";
$icon-share-alt: "\f1e0";
$icon-share-alt-square: "\f1e1";
$icon-bomb: "\f1e2";
$icon-futbol-o: "\f1e3";
$icon-soccer-ball-o: "\f1e3";
$icon-tty: "\f1e4";
$icon-binoculars1: "\f1e5";
$icon-plug: "\f1e6";
$icon-slideshare: "\f1e7";
$icon-twitch1: "\f1e8";
$icon-yelp1: "\f1e9";
$icon-newspaper-o: "\f1ea";
$icon-wifi: "\f1eb";
$icon-calculator2: "\f1ec";
$icon-paypal1: "\f1ed";
$icon-google-wallet: "\f1ee";
$icon-cc-visa: "\f1f0";
$icon-cc-mastercard: "\f1f1";
$icon-cc-discover: "\f1f2";
$icon-cc-amex: "\f1f3";
$icon-cc-paypal: "\f1f4";
$icon-cc-stripe: "\f1f5";
$icon-bell-slash: "\f1f6";
$icon-bell-slash-o: "\f1f7";
$icon-trash: "\f1f8";
$icon-copyright: "\f1f9";
$icon-at: "\f1fa";
$icon-eyedropper1: "\f1fb";
$icon-paint-brush: "\f1fc";
$icon-birthday-cake: "\f1fd";
$icon-area-chart: "\f1fe";
$icon-pie-chart1: "\f200";
$icon-line-chart: "\f201";
$icon-lastfm1: "\f202";
$icon-lastfm-square: "\f203";
$icon-toggle-off: "\f204";
$icon-toggle-on: "\f205";
$icon-bicycle: "\f206";
$icon-bus: "\f207";
$icon-ioxhost: "\f208";
$icon-angellist: "\f209";
$icon-cc: "\f20a";
$icon-ils: "\f20b";
$icon-shekel: "\f20b";
$icon-sheqel: "\f20b";
$icon-meanpath: "\f20c";
$icon-buysellads: "\f20d";
$icon-connectdevelop: "\f20e";
$icon-dashcube: "\f210";
$icon-forumbee: "\f211";
$icon-leanpub: "\f212";
$icon-sellsy: "\f213";
$icon-shirtsinbulk: "\f214";
$icon-simplybuilt: "\f215";
$icon-skyatlas: "\f216";
$icon-cart-plus: "\f217";
$icon-cart-arrow-down: "\f218";
$icon-diamond: "\f219";
$icon-ship: "\f21a";
$icon-user-secret: "\f21b";
$icon-motorcycle: "\f21c";
$icon-street-view: "\f21d";
$icon-heartbeat: "\f21e";
$icon-venus: "\f221";
$icon-mars: "\f222";
$icon-mercury: "\f223";
$icon-intersex: "\f224";
$icon-transgender: "\f224";
$icon-transgender-alt: "\f225";
$icon-venus-double: "\f226";
$icon-mars-double: "\f227";
$icon-venus-mars: "\f228";
$icon-mars-stroke: "\f229";
$icon-mars-stroke-v: "\f22a";
$icon-mars-stroke-h: "\f22b";
$icon-neuter: "\f22c";
$icon-genderless: "\f22d";
$icon-facebook-official: "\f230";
$icon-pinterest-p: "\f231";
$icon-whatsapp1: "\f232";
$icon-server1: "\f233";
$icon-user-plus1: "\f234";
$icon-user-times: "\f235";
$icon-bed: "\f236";
$icon-hotel: "\f236";
$icon-viacoin: "\f237";
$icon-train: "\f238";
$icon-subway: "\f239";
$icon-medium: "\f23a";
$icon-y-combinator: "\f23b";
$icon-yc: "\f23b";
$icon-optin-monster: "\f23c";
$icon-opencart: "\f23d";
$icon-expeditedssl: "\f23e";
$icon-battery2: "\f240";
$icon-battery-4: "\f240";
$icon-battery-full1: "\f240";
$icon-battery-3: "\f241";
$icon-battery-three-quarters: "\f241";
$icon-battery-2: "\f242";
$icon-battery-half: "\f242";
$icon-battery-1: "\f243";
$icon-battery-quarter: "\f243";
$icon-battery-0: "\f244";
$icon-battery-empty: "\f244";
$icon-mouse-pointer: "\f245";
$icon-i-cursor: "\f246";
$icon-object-group: "\f247";
$icon-object-ungroup: "\f248";
$icon-sticky-note: "\f249";
$icon-sticky-note-o: "\f24a";
$icon-cc-jcb: "\f24b";
$icon-cc-diners-club: "\f24c";
$icon-clone: "\f24d";
$icon-balance-scale: "\f24e";
$icon-hourglass-o: "\f250";
$icon-hourglass-1: "\f251";
$icon-hourglass-start: "\f251";
$icon-hourglass-2: "\f252";
$icon-hourglass-half: "\f252";
$icon-hourglass-3: "\f253";
$icon-hourglass-end: "\f253";
$icon-hourglass: "\f254";
$icon-hand-grab-o: "\f255";
$icon-hand-rock-o: "\f255";
$icon-hand-paper-o: "\f256";
$icon-hand-stop-o: "\f256";
$icon-hand-scissors-o: "\f257";
$icon-hand-lizard-o: "\f258";
$icon-hand-spock-o: "\f259";
$icon-hand-pointer-o: "\f25a";
$icon-hand-peace-o: "\f25b";
$icon-trademark: "\f25c";
$icon-registered: "\f25d";
$icon-creative-commons: "\f25e";
$icon-gg: "\f260";
$icon-gg-circle: "\f261";
$icon-tripadvisor: "\f262";
$icon-odnoklassniki: "\f263";
$icon-odnoklassniki-square: "\f264";
$icon-get-pocket: "\f265";
$icon-wikipedia-w: "\f266";
$icon-safari1: "\f267";
$icon-chrome1: "\f268";
$icon-firefox1: "\f269";
$icon-opera1: "\f26a";
$icon-internet-explorer: "\f26b";
$icon-television: "\f26c";
$icon-tv2: "\f26c";
$icon-contao: "\f26d";
$icon-500px1: "\f26e";
$icon-amazon1: "\f270";
$icon-calendar-plus-o: "\f271";
$icon-calendar-minus-o: "\f272";
$icon-calendar-times-o: "\f273";
$icon-calendar-check-o: "\f274";
$icon-industry: "\f275";
$icon-map-pin: "\f276";
$icon-map-signs: "\f277";
$icon-map-o: "\f278";
$icon-map1: "\f279";
$icon-commenting: "\f27a";
$icon-commenting-o: "\f27b";
$icon-houzz: "\f27c";
$icon-vimeo1: "\f27d";
$icon-black-tie: "\f27e";
$icon-fonticons: "\f280";
$icon-reddit-alien: "\f281";
$icon-edge1: "\f282";
$icon-credit-card-alt: "\f283";
$icon-codiepie: "\f284";
$icon-modx: "\f285";
$icon-fort-awesome: "\f286";
$icon-usb1: "\f287";
$icon-product-hunt: "\f288";
$icon-mixcloud: "\f289";
$icon-scribd: "\f28a";
$icon-pause-circle: "\f28b";
$icon-pause-circle-o: "\f28c";
$icon-stop-circle: "\f28d";
$icon-stop-circle-o: "\f28e";
$icon-shopping-bag: "\f290";
$icon-shopping-basket: "\f291";
$icon-hashtag: "\f292";
$icon-bluetooth: "\f293";
$icon-bluetooth-b: "\f294";
$icon-percent: "\f295";
$icon-gitlab: "\f296";
$icon-wpbeginner: "\f297";
$icon-wpforms: "\f298";
$icon-envira: "\f299";
$icon-universal-access: "\f29a";
$icon-wheelchair-alt: "\f29b";
$icon-question-circle-o: "\f29c";
$icon-blind: "\f29d";
$icon-audio-description: "\f29e";
$icon-volume-control-phone: "\f2a0";
$icon-braille: "\f2a1";
$icon-assistive-listening-systems: "\f2a2";
$icon-american-sign-language-interpreting: "\f2a3";
$icon-asl-interpreting: "\f2a3";
$icon-deaf: "\f2a4";
$icon-deafness: "\f2a4";
$icon-hard-of-hearing: "\f2a4";
$icon-glide: "\f2a5";
$icon-glide-g: "\f2a6";
$icon-sign-language: "\f2a7";
$icon-signing: "\f2a7";
$icon-low-vision: "\f2a8";
$icon-viadeo: "\f2a9";
$icon-viadeo-square: "\f2aa";
$icon-snapchat: "\f2ab";
$icon-snapchat-ghost: "\f2ac";
$icon-snapchat-square: "\f2ad";
$icon-pied-piper: "\f2ae";
$icon-first-order: "\f2b0";
$icon-yoast: "\f2b1";
$icon-themeisle: "\f2b2";
$icon-google-plus-circle: "\f2b3";
$icon-google-plus-official: "\f2b3";
$icon-fa: "\f2b4";
$icon-font-awesome: "\f2b4";
$icon-handshake-o: "\f2b5";
$icon-envelope-open: "\f2b6";
$icon-envelope-open-o: "\f2b7";
$icon-linode: "\f2b8";
$icon-address-book1: "\f2b9";
$icon-address-book-o: "\f2ba";
$icon-address-card: "\f2bb";
$icon-vcard: "\f2bb";
$icon-address-card-o: "\f2bc";
$icon-vcard-o: "\f2bc";
$icon-user-circle: "\f2bd";
$icon-user-circle-o: "\f2be";
$icon-user-o: "\f2c0";
$icon-id-badge: "\f2c1";
$icon-drivers-license: "\f2c2";
$icon-id-card: "\f2c2";
$icon-drivers-license-o: "\f2c3";
$icon-id-card-o: "\f2c3";
$icon-quora: "\f2c4";
$icon-free-code-camp: "\f2c5";
$icon-telegram1: "\f2c6";
$icon-thermometer: "\f2c7";
$icon-thermometer-4: "\f2c7";
$icon-thermometer-full: "\f2c7";
$icon-thermometer-3: "\f2c8";
$icon-thermometer-three-quarters: "\f2c8";
$icon-thermometer-2: "\f2c9";
$icon-thermometer-half: "\f2c9";
$icon-thermometer-1: "\f2ca";
$icon-thermometer-quarter: "\f2ca";
$icon-thermometer-0: "\f2cb";
$icon-thermometer-empty: "\f2cb";
$icon-shower: "\f2cc";
$icon-bath: "\f2cd";
$icon-bathtub: "\f2cd";
$icon-s15: "\f2cd";
$icon-podcast1: "\f2ce";
$icon-window-maximize: "\f2d0";
$icon-window-minimize: "\f2d1";
$icon-window-restore: "\f2d2";
$icon-times-rectangle: "\f2d3";
$icon-window-close: "\f2d3";
$icon-times-rectangle-o: "\f2d4";
$icon-window-close-o: "\f2d4";
$icon-bandcamp: "\f2d5";
$icon-grav: "\f2d6";
$icon-etsy: "\f2d7";
$icon-imdb: "\f2d8";
$icon-ravelry: "\f2d9";
$icon-eercast: "\f2da";
$icon-microchip: "\f2db";
$icon-snowflake-o: "\f2dc";
$icon-superpowers: "\f2dd";
$icon-wpexplorer: "\f2de";
$icon-meetup: "\f2e0";
$icon-facebook1: "\e900";
$icon-twitter-old: "\e901";
$icon-share1: "\e902";
$icon-feed1: "\e903";
$icon-bird: "\e904";
$icon-chat: "\e905";
$icon-envelope: "\e906";
$icon-envelope1: "\e907";
$icon-phone1: "\e908";
$icon-phone2: "\e909";
$icon-phone3: "\e90a";
$icon-mobile1: "\e90b";
$icon-ipod: "\e90c";
$icon-monitor: "\e90d";
$icon-laptop1: "\e90e";
$icon-modem: "\e90f";
$icon-speaker: "\e910";
$icon-window: "\e911";
$icon-server: "\e912";
$icon-hdd: "\e913";
$icon-keyboard1: "\e914";
$icon-mouse: "\e915";
$icon-cd: "\e916";
$icon-floppy: "\e917";
$icon-hardware: "\e918";
$icon-usb: "\e919";
$icon-cord: "\e91a";
$icon-socket: "\e91b";
$icon-socket1: "\e91c";
$icon-socket2: "\e91d";
$icon-printer1: "\e91e";
$icon-camera1: "\e91f";
$icon-pictures: "\e920";
$icon-eye1: "\e921";
$icon-uniE922: "\e922";
$icon-film1: "\e923";
$icon-camera2: "\e924";
$icon-movie: "\e925";
$icon-tv1: "\e926";
$icon-camera3: "\e927";
$icon-camera4: "\e928";
$icon-volume: "\e929";
$icon-music1: "\e92a";
$icon-microphone: "\e92b";
$icon-radio: "\e92c";
$icon-ipod1: "\e92d";
$icon-headphone: "\e92e";
$icon-cassette: "\e92f";
$icon-broadcast: "\e930";
$icon-broadcast1: "\e931";
$icon-calculator1: "\e932";
$icon-gamepad: "\e933";
$icon-gamepad1: "\e934";
$icon-cog1: "\e935";
$icon-shield1: "\e936";
$icon-skull: "\e937";
$icon-bug1: "\e938";
$icon-mine: "\e939";
$icon-earth1: "\e93a";
$icon-globe: "\e93b";
$icon-planet: "\e93c";
$icon-battery: "\e93d";
$icon-battery-low: "\e93e";
$icon-battery1: "\e93f";
$icon-battery-full: "\e940";
$icon-folder1: "\e941";
$icon-search1: "\e942";
$icon-zoomout: "\e943";
$icon-zoomin: "\e944";
$icon-binocular: "\e945";
$icon-location1: "\e946";
$icon-pin: "\e947";
$icon-file: "\e948";
$icon-tag: "\e949";
$icon-quote: "\e94a";
$icon-attachment1: "\e94b";
$icon-bookmark1: "\e94c";
$icon-bookmark2: "\e94d";
$icon-newspaper1: "\e94e";
$icon-notebook: "\e94f";
$icon-addressbook: "\e950";
$icon-clipboard1: "\e951";
$icon-clipboard2: "\e952";
$icon-board: "\e953";
$icon-pencil1: "\e954";
$icon-pen1: "\e955";
$icon-user1: "\e956";
$icon-user2: "\e957";
$icon-user3: "\e958";
$icon-trashcan: "\e959";
$icon-cart1: "\e95a";
$icon-bag: "\e95b";
$icon-suitcase: "\e95c";
$icon-card: "\e95d";
$icon-book1: "\e95e";
$icon-gift1: "\e95f";
$icon-lamp: "\e960";
$icon-settings: "\e961";
$icon-support: "\e962";
$icon-medicine: "\e963";
$icon-cone: "\e964";
$icon-locked: "\e965";
$icon-unlocked1: "\e966";
$icon-key1: "\e967";
$icon-info1: "\e968";
$icon-clock1: "\e969";
$icon-timer: "\e96a";
$icon-food: "\e96b";
$icon-drink: "\e96c";
$icon-mug1: "\e96d";
$icon-cup: "\e96e";
$icon-drink1: "\e96f";
$icon-mug2: "\e970";
$icon-lollipop: "\e971";
$icon-lab1: "\e972";
$icon-puzzle: "\e973";
$icon-flag1: "\e974";
$icon-star: "\e975";
$icon-heart1: "\e976";
$icon-badge: "\e977";
$icon-cup1: "\e978";
$icon-scissors1: "\e979";
$icon-snowflake: "\e97a";
$icon-cloud1: "\e97b";
$icon-lightning: "\e97c";
$icon-night: "\e97d";
$icon-sunny: "\e97e";
$icon-droplet1: "\e97f";
$icon-umbrella: "\e980";
$icon-truck1: "\e981";
$icon-car: "\e982";
$icon-gaspump: "\e983";
$icon-factory: "\e984";
$icon-tree1: "\e985";
$icon-leaf1: "\e986";
$icon-flower: "\e987";
$icon-direction: "\e988";
$icon-thumbsup: "\e989";
$icon-thumbsdown: "\e98a";
$icon-pointer: "\e98b";
$icon-pointer1: "\e98c";
$icon-pointer2: "\e98d";
$icon-pointer3: "\e98e";
$icon-arrow-up1: "\e98f";
$icon-arrow-down1: "\e990";
$icon-arrow-left1: "\e991";
$icon-arrow-right1: "\e992";
$icon-arrow-top-right: "\e993";
$icon-arrow-top-left: "\e994";
$icon-arrow-bottom-right: "\e995";
$icon-arrow-bottom-left: "\e996";
$icon-contract: "\e997";
$icon-enlarge1: "\e998";
$icon-refresh: "\e999";
$icon-pie-chart: "\ea34";
$icon-stats-dots: "\ea35";
$icon-stats-bars: "\ea36";
$icon-stats-bars2: "\ea37";
$icon-trophy: "\ea38";
$icon-gift: "\ea39";
$icon-glass: "\ea3a";
$icon-glass2: "\ea3b";
$icon-mug: "\ea3c";
$icon-spoon-knife: "\ea3d";
$icon-leaf: "\ea3e";
$icon-rocket: "\ea3f";
$icon-meter: "\ea40";
$icon-meter2: "\ea41";
$icon-hammer2: "\ea42";
$icon-fire1: "\ea43";
$icon-lab: "\ea44";
$icon-magnet: "\ea45";
$icon-bin: "\ea46";
$icon-bin2: "\ea47";
$icon-briefcase: "\ea48";
$icon-airplane: "\ea49";
$icon-truck: "\ea4a";
$icon-road: "\ea4b";
$icon-accessibility: "\ea4c";
$icon-target: "\ea4d";
$icon-shield: "\ea4e";
$icon-power: "\ea4f";
$icon-switch: "\ea50";
$icon-power-cord: "\ea51";
$icon-clipboard: "\ea52";
$icon-list-numbered: "\ea53";
$icon-list: "\ea54";
$icon-list2: "\ea55";
$icon-tree: "\ea56";
$icon-menu: "\ea57";
$icon-menu2: "\ea58";
$icon-menu3: "\ea59";
$icon-menu4: "\ea5a";
$icon-cloud: "\ea5b";
$icon-cloud-download: "\ea5c";
$icon-cloud-upload: "\ea5d";
$icon-cloud-check: "\ea5e";
$icon-download2: "\ea5f";
$icon-upload2: "\ea60";
$icon-download3: "\ea61";
$icon-upload3: "\ea62";
$icon-sphere: "\ea63";
$icon-earth: "\ea64";
$icon-link: "\ea65";
$icon-flag: "\ea66";
$icon-attachment: "\ea67";
$icon-eye: "\ea68";
$icon-eye-plus: "\ea69";
$icon-eye-minus: "\ea6a";
$icon-eye-blocked: "\ea6b";
$icon-bookmark: "\ea6c";
$icon-bookmarks: "\ea6d";
$icon-sun: "\ea6e";
$icon-contrast: "\ea6f";
$icon-brightness-contrast: "\ea70";
$icon-star-empty: "\ea71";
$icon-star-half: "\ea72";
$icon-star-full: "\ea73";
$icon-heart: "\ea74";
$icon-heart-broken: "\ea75";
$icon-man: "\ea76";
$icon-woman: "\ea77";
$icon-man-woman: "\ea78";
$icon-happy: "\ea79";
$icon-happy2: "\ea7a";
$icon-smile: "\ea7b";
$icon-smile2: "\ea7c";
$icon-tongue: "\ea7d";
$icon-tongue2: "\ea7e";
$icon-sad: "\ea7f";
$icon-sad2: "\ea80";
$icon-wink: "\ea81";
$icon-wink2: "\ea82";
$icon-grin: "\ea83";
$icon-grin2: "\ea84";
$icon-cool: "\ea85";
$icon-cool2: "\ea86";
$icon-angry: "\ea87";
$icon-angry2: "\ea88";
$icon-evil: "\ea89";
$icon-evil2: "\ea8a";
$icon-shocked: "\ea8b";
$icon-shocked2: "\ea8c";
$icon-baffled: "\ea8d";
$icon-baffled2: "\ea8e";
$icon-confused: "\ea8f";
$icon-confused2: "\ea90";
$icon-neutral: "\ea91";
$icon-neutral2: "\ea92";
$icon-hipster: "\ea93";
$icon-hipster2: "\ea94";
$icon-wondering: "\ea95";
$icon-wondering2: "\ea96";
$icon-sleepy: "\ea97";
$icon-sleepy2: "\ea98";
$icon-frustrated: "\ea99";
$icon-frustrated2: "\ea9a";
$icon-crying: "\ea9b";
$icon-crying2: "\ea9c";
$icon-point-up: "\ea9d";
$icon-point-right: "\ea9e";
$icon-point-down: "\ea9f";
$icon-point-left: "\eaa0";
$icon-warning: "\eaa1";
$icon-notification: "\eaa2";
$icon-question: "\eaa3";
$icon-plus: "\eaa4";
$icon-minus: "\eaa5";
$icon-info: "\eaa6";
$icon-cancel-circle: "\eaa7";
$icon-blocked: "\eaa8";
$icon-cross: "\eaa9";
$icon-checkmark: "\eaaa";
$icon-checkmark2: "\eaab";
$icon-spell-check: "\eaac";
$icon-enter: "\eaad";
$icon-exit: "\eaae";
$icon-play2: "\eaaf";
$icon-pause: "\eab0";
$icon-stop: "\eab1";
$icon-previous: "\eab2";
$icon-next: "\eab3";
$icon-backward: "\eab4";
$icon-forward2: "\eab5";
$icon-play3: "\eab6";
$icon-pause2: "\eab7";
$icon-stop2: "\eab8";
$icon-backward2: "\eab9";
$icon-forward3: "\eaba";
$icon-first: "\eabb";
$icon-last: "\eabc";
$icon-previous2: "\eabd";
$icon-next2: "\eabe";
$icon-eject: "\eabf";
$icon-volume-high: "\eac0";
$icon-volume-medium: "\eac1";
$icon-volume-low: "\eac2";
$icon-volume-mute: "\eac3";
$icon-volume-mute2: "\eac4";
$icon-volume-increase: "\eac5";
$icon-volume-decrease: "\eac6";
$icon-loop: "\eac7";
$icon-loop2: "\eac8";
$icon-infinite: "\eac9";
$icon-shuffle: "\eaca";
$icon-arrow-up-left: "\eacb";
$icon-arrow-up: "\eacc";
$icon-arrow-up-right: "\eacd";
$icon-arrow-right: "\eace";
$icon-arrow-down-right: "\eacf";
$icon-arrow-down: "\ead0";
$icon-arrow-down-left: "\ead1";
$icon-arrow-left: "\ead2";
$icon-arrow-up-left2: "\ead3";
$icon-arrow-up2: "\ead4";
$icon-arrow-up-right2: "\ead5";
$icon-arrow-right2: "\ead6";
$icon-arrow-down-right2: "\ead7";
$icon-arrow-down2: "\ead8";
$icon-arrow-down-left2: "\ead9";
$icon-arrow-left2: "\eada";
$icon-circle-up: "\eadb";
$icon-circle-right: "\eadc";
$icon-circle-down: "\eadd";
$icon-circle-left: "\eade";
$icon-tab: "\eadf";
$icon-move-up: "\eae0";
$icon-move-down: "\eae1";
$icon-sort-alpha-asc: "\eae2";
$icon-sort-alpha-desc: "\eae3";
$icon-sort-numeric-asc: "\eae4";
$icon-sort-numberic-desc: "\eae5";
$icon-sort-amount-asc: "\eae6";
$icon-sort-amount-desc: "\eae7";
$icon-command: "\eae8";
$icon-shift: "\eae9";
$icon-ctrl: "\eaea";
$icon-opt: "\eaeb";
$icon-checkbox-checked: "\eaec";
$icon-checkbox-unchecked: "\eaed";
$icon-radio-checked: "\eaee";
$icon-radio-checked2: "\eaef";
$icon-radio-unchecked: "\eaf0";
$icon-crop: "\eaf1";
$icon-make-group: "\eaf2";
$icon-ungroup: "\eaf3";
$icon-scissors: "\eaf4";
$icon-filter: "\eaf5";
$icon-font: "\eaf6";
$icon-ligature: "\eaf7";
$icon-ligature2: "\eaf8";
$icon-text-height: "\eaf9";
$icon-text-width: "\eafa";
$icon-font-size: "\eafb";
$icon-bold: "\eafc";
$icon-underline: "\eafd";
$icon-italic: "\eafe";
$icon-strikethrough: "\eaff";
$icon-omega: "\eb00";
$icon-sigma: "\eb01";
$icon-page-break: "\eb02";
$icon-superscript: "\eb03";
$icon-subscript: "\eb04";
$icon-superscript2: "\eb05";
$icon-subscript2: "\eb06";
$icon-text-color: "\eb07";
$icon-pagebreak: "\eb08";
$icon-clear-formatting: "\eb09";
$icon-table: "\eb0a";
$icon-table2: "\eb0b";
$icon-insert-template: "\eb0c";
$icon-pilcrow: "\eb0d";
$icon-ltr: "\eb0e";
$icon-rtl: "\eb0f";
$icon-section: "\eb10";
$icon-paragraph-left: "\eb11";
$icon-paragraph-center: "\eb12";
$icon-paragraph-right: "\eb13";
$icon-paragraph-justify: "\eb14";
$icon-indent-increase: "\eb15";
$icon-indent-decrease: "\eb16";
$icon-share: "\eb17";
$icon-new-tab: "\eb18";
$icon-embed: "\eb19";
$icon-embed2: "\eb1a";
$icon-terminal: "\eb1b";
$icon-share2: "\eb1c";
$icon-mail: "\eb1d";
$icon-mail2: "\eb1e";
$icon-mail3: "\eb1f";
$icon-mail4: "\eb20";
$icon-amazon: "\eb21";
$icon-google: "\eb22";
$icon-google2: "\eb23";
$icon-google3: "\eb24";
$icon-google-plus: "\eb25";
$icon-google-plus2: "\eb26";
$icon-google-plus3: "\eb27";
$icon-hangouts: "\eb28";
$icon-google-drive: "\eb29";
$icon-facebook: "\eb2a";
$icon-facebook2: "\eb2b";
$icon-instagram: "\eb2c";
$icon-whatsapp: "\eb2d";
$icon-spotify: "\eb2e";
$icon-telegram: "\eb2f";
$icon-twitter: "\eb30";
$icon-vine: "\eb31";
$icon-vk: "\eb32";
$icon-renren: "\eb33";
$icon-sina-weibo: "\eb34";
$icon-rss: "\eb35";
$icon-rss2: "\eb36";
$icon-youtube: "\eb37";
$icon-youtube2: "\eb38";
$icon-twitch: "\eb39";
$icon-vimeo: "\eb3a";
$icon-vimeo2: "\eb3b";
$icon-lanyrd: "\eb3c";
$icon-flickr: "\eb3d";
$icon-flickr2: "\eb3e";
$icon-flickr3: "\eb3f";
$icon-flickr4: "\eb40";
$icon-dribbble: "\eb41";
$icon-behance: "\eb42";
$icon-behance2: "\eb43";
$icon-deviantart: "\eb44";
$icon-500px: "\eb45";
$icon-steam: "\eb46";
$icon-steam2: "\eb47";
$icon-dropbox: "\eb48";
$icon-onedrive: "\eb49";
$icon-github: "\eb4a";
$icon-npm: "\eb4b";
$icon-basecamp: "\eb4c";
$icon-trello: "\eb4d";
$icon-wordpress: "\eb4e";
$icon-joomla: "\eb4f";
$icon-ello: "\eb50";
$icon-blogger: "\eb51";
$icon-blogger2: "\eb52";
$icon-tumblr: "\eb53";
$icon-tumblr2: "\eb54";
$icon-yahoo: "\eb55";
$icon-yahoo2: "\eb56";
$icon-tux: "\eb57";
$icon-appleinc: "\eb58";
$icon-finder: "\eb59";
$icon-android: "\eb5a";
$icon-windows: "\eb5b";
$icon-windows8: "\eb5c";
$icon-soundcloud: "\eb5d";
$icon-soundcloud2: "\eb5e";
$icon-skype: "\eb5f";
$icon-reddit: "\eb60";
$icon-hackernews: "\eb61";
$icon-wikipedia: "\eb62";
$icon-linkedin: "\eb63";
$icon-linkedin2: "\eb64";
$icon-lastfm: "\eb65";
$icon-lastfm2: "\eb66";
$icon-delicious: "\eb67";
$icon-stumbleupon: "\eb68";
$icon-stumbleupon2: "\eb69";
$icon-stackoverflow: "\eb6a";
$icon-pinterest: "\eb6b";
$icon-pinterest2: "\eb6c";
$icon-xing: "\eb6d";
$icon-xing2: "\eb6e";
$icon-flattr: "\eb6f";
$icon-foursquare: "\eb70";
$icon-yelp: "\eb71";
$icon-paypal: "\eb72";
$icon-chrome: "\eb73";
$icon-firefox: "\eb74";
$icon-IE: "\eb75";
$icon-edge: "\eb76";
$icon-safari: "\eb77";
$icon-opera: "\eb78";
$icon-file-pdf: "\eb79";
$icon-file-openoffice: "\eb7a";
$icon-file-word: "\eb7b";
$icon-file-excel: "\eb7c";
$icon-libreoffice: "\eb7d";
$icon-html-five: "\eb7e";
$icon-html-five2: "\eb7f";
$icon-css3: "\eb80";
$icon-git: "\eb81";
$icon-codepen: "\eb82";
$icon-svg: "\eb83";
$icon-IcoMoon: "\eb84";
$icon-home: "\e99a";
$icon-home2: "\e99b";
$icon-home3: "\e99c";
$icon-office: "\e99d";
$icon-newspaper: "\e99e";
$icon-pencil: "\e99f";
$icon-pencil2: "\e9a0";
$icon-quill: "\e9a1";
$icon-pen: "\e9a2";
$icon-blog: "\e9a3";
$icon-eyedropper: "\e9a4";
$icon-droplet: "\e9a5";
$icon-paint-format: "\e9a6";
$icon-image: "\e9a7";
$icon-images: "\e9a8";
$icon-camera: "\e9a9";
$icon-headphones: "\e9aa";
$icon-music: "\e9ab";
$icon-play: "\e9ac";
$icon-film: "\e9ad";
$icon-video-camera: "\e9ae";
$icon-dice: "\e9af";
$icon-pacman: "\e9b0";
$icon-spades: "\e9b1";
$icon-clubs: "\e9b2";
$icon-diamonds: "\e9b3";
$icon-bullhorn: "\e9b4";
$icon-connection: "\e9b5";
$icon-podcast: "\e9b6";
$icon-feed: "\e9b7";
$icon-mic: "\e9b8";
$icon-book: "\e9b9";
$icon-books: "\e9ba";
$icon-library: "\e9bb";
$icon-file-text: "\e9bc";
$icon-profile: "\e9bd";
$icon-file-empty: "\e9be";
$icon-files-empty: "\e9bf";
$icon-file-text2: "\e9c0";
$icon-file-picture: "\e9c1";
$icon-file-music: "\e9c2";
$icon-file-play: "\e9c3";
$icon-file-video: "\e9c4";
$icon-file-zip: "\e9c5";
$icon-copy: "\e9c6";
$icon-paste: "\e9c7";
$icon-stack: "\e9c8";
$icon-folder: "\e9c9";
$icon-folder-open: "\e9ca";
$icon-folder-plus: "\e9cb";
$icon-folder-minus: "\e9cc";
$icon-folder-download: "\e9cd";
$icon-folder-upload: "\e9ce";
$icon-price-tag: "\e9cf";
$icon-price-tags: "\e9d0";
$icon-barcode: "\e9d1";
$icon-qrcode: "\e9d2";
$icon-ticket: "\e9d3";
$icon-cart: "\e9d4";
$icon-coin-dollar: "\e9d5";
$icon-coin-euro: "\e9d6";
$icon-coin-pound: "\e9d7";
$icon-coin-yen: "\e9d8";
$icon-credit-card: "\e9d9";
$icon-calculator: "\e9da";
$icon-lifebuoy: "\e9db";
$icon-phone: "\e9dc";
$icon-phone-hang-up: "\e9dd";
$icon-address-book: "\e9de";
$icon-envelop: "\e9df";
$icon-pushpin: "\e9e0";
$icon-location: "\e9e1";
$icon-location2: "\e9e2";
$icon-compass: "\e9e3";
$icon-compass2: "\e9e4";
$icon-map: "\e9e5";
$icon-map2: "\e9e6";
$icon-history: "\e9e7";
$icon-clock: "\e9e8";
$icon-clock2: "\e9e9";
$icon-alarm: "\e9ea";
$icon-bell: "\e9eb";
$icon-stopwatch: "\e9ec";
$icon-calendar: "\e9ed";
$icon-printer: "\e9ee";
$icon-keyboard: "\e9ef";
$icon-display: "\e9f0";
$icon-laptop: "\e9f1";
$icon-mobile: "\e9f2";
$icon-mobile2: "\e9f3";
$icon-tablet: "\e9f4";
$icon-tv: "\e9f5";
$icon-drawer: "\e9f6";
$icon-drawer2: "\e9f7";
$icon-box-add: "\e9f8";
$icon-box-remove: "\e9f9";
$icon-download: "\e9fa";
$icon-upload: "\e9fb";
$icon-floppy-disk: "\e9fc";
$icon-drive: "\e9fd";
$icon-database: "\e9fe";
$icon-undo: "\e9ff";
$icon-redo: "\ea00";
$icon-undo2: "\ea01";
$icon-redo2: "\ea02";
$icon-forward: "\ea03";
$icon-reply: "\ea04";
$icon-bubble: "\ea05";
$icon-bubbles: "\ea06";
$icon-bubbles2: "\ea07";
$icon-bubble2: "\ea08";
$icon-bubbles3: "\ea09";
$icon-bubbles4: "\ea0a";
$icon-user: "\ea0b";
$icon-users: "\ea0c";
$icon-user-plus: "\ea0d";
$icon-user-minus: "\ea0e";
$icon-user-check: "\ea0f";
$icon-user-tie: "\ea10";
$icon-quotes-left: "\ea11";
$icon-quotes-right: "\ea12";
$icon-hour-glass: "\ea13";
$icon-spinner: "\ea14";
$icon-spinner2: "\ea15";
$icon-spinner3: "\ea16";
$icon-spinner4: "\ea17";
$icon-spinner5: "\ea18";
$icon-spinner6: "\ea19";
$icon-spinner7: "\ea1a";
$icon-spinner8: "\ea1b";
$icon-spinner9: "\ea1c";
$icon-spinner10: "\ea1d";
$icon-spinner11: "\ea1e";
$icon-binoculars: "\ea1f";
$icon-search: "\ea20";
$icon-zoom-in: "\ea21";
$icon-zoom-out: "\ea22";
$icon-enlarge: "\ea23";
$icon-shrink: "\ea24";
$icon-enlarge2: "\ea25";
$icon-shrink2: "\ea26";
$icon-key: "\ea27";
$icon-key2: "\ea28";
$icon-lock: "\ea29";
$icon-unlocked: "\ea2a";
$icon-wrench: "\ea2b";
$icon-equalizer: "\ea2c";
$icon-equalizer2: "\ea2d";
$icon-cog: "\ea2e";
$icon-cogs: "\ea2f";
$icon-hammer: "\ea30";
$icon-magic-wand: "\ea31";
$icon-aid-kit: "\ea32";
$icon-bug: "\ea33";
$icon-pie-chart: "\ea34";
$icon-stats-dots: "\ea35";
$icon-stats-bars: "\ea36";
$icon-stats-bars2: "\ea37";
$icon-trophy: "\ea38";
$icon-gift: "\ea39";
$icon-glass: "\ea3a";
$icon-glass2: "\ea3b";
$icon-mug: "\ea3c";
$icon-spoon-knife: "\ea3d";
$icon-leaf: "\ea3e";
$icon-rocket: "\ea3f";
$icon-meter: "\ea40";
$icon-meter2: "\ea41";
$icon-hammer2: "\ea42";
$icon-fire1: "\ea43";
$icon-lab: "\ea44";
$icon-magnet: "\ea45";
$icon-bin: "\ea46";
$icon-bin2: "\ea47";
$icon-briefcase: "\ea48";
$icon-airplane: "\ea49";
$icon-truck: "\ea4a";
$icon-road: "\ea4b";
$icon-accessibility: "\ea4c";
$icon-target: "\ea4d";
$icon-shield: "\ea4e";
$icon-power: "\ea4f";
$icon-switch: "\ea50";
$icon-power-cord: "\ea51";
$icon-clipboard: "\ea52";
$icon-list-numbered: "\ea53";
$icon-list: "\ea54";
$icon-list2: "\ea55";
$icon-tree: "\ea56";
$icon-menu: "\ea57";
$icon-menu2: "\ea58";
$icon-menu3: "\ea59";
$icon-menu4: "\ea5a";
$icon-cloud: "\ea5b";
$icon-cloud-download: "\ea5c";
$icon-cloud-upload: "\ea5d";
$icon-cloud-check: "\ea5e";
$icon-download2: "\ea5f";
$icon-upload2: "\ea60";
$icon-download3: "\ea61";
$icon-upload3: "\ea62";
$icon-sphere: "\ea63";
$icon-earth: "\ea64";
$icon-link: "\ea65";
$icon-flag: "\ea66";
$icon-attachment: "\ea67";
$icon-eye: "\ea68";
$icon-eye-plus: "\ea69";
$icon-eye-minus: "\ea6a";
$icon-eye-blocked: "\ea6b";
$icon-bookmark: "\ea6c";
$icon-bookmarks: "\ea6d";
$icon-sun: "\ea6e";
$icon-contrast: "\ea6f";
$icon-brightness-contrast: "\ea70";
$icon-star-empty: "\ea71";
$icon-star-half: "\ea72";
$icon-star-full: "\ea73";
$icon-heart: "\ea74";
$icon-heart-broken: "\ea75";
$icon-man: "\ea76";
$icon-woman: "\ea77";
$icon-man-woman: "\ea78";
$icon-happy: "\ea79";
$icon-happy2: "\ea7a";
$icon-smile: "\ea7b";
$icon-smile2: "\ea7c";
$icon-tongue: "\ea7d";
$icon-tongue2: "\ea7e";
$icon-sad: "\ea7f";
$icon-sad2: "\ea80";
$icon-wink: "\ea81";
$icon-wink2: "\ea82";
$icon-grin: "\ea83";
$icon-grin2: "\ea84";
$icon-cool: "\ea85";
$icon-cool2: "\ea86";
$icon-angry: "\ea87";
$icon-angry2: "\ea88";
$icon-evil: "\ea89";
$icon-evil2: "\ea8a";
$icon-shocked: "\ea8b";
$icon-shocked2: "\ea8c";
$icon-baffled: "\ea8d";
$icon-baffled2: "\ea8e";
$icon-confused: "\ea8f";
$icon-confused2: "\ea90";
$icon-neutral: "\ea91";
$icon-neutral2: "\ea92";
$icon-hipster: "\ea93";
$icon-hipster2: "\ea94";
$icon-wondering: "\ea95";
$icon-wondering2: "\ea96";
$icon-sleepy: "\ea97";
$icon-sleepy2: "\ea98";
$icon-frustrated: "\ea99";
$icon-frustrated2: "\ea9a";
$icon-crying: "\ea9b";
$icon-crying2: "\ea9c";
$icon-point-up: "\ea9d";
$icon-point-right: "\ea9e";
$icon-point-down: "\ea9f";
$icon-point-left: "\eaa0";
$icon-warning: "\eaa1";
$icon-notification: "\eaa2";
$icon-question: "\eaa3";
$icon-plus: "\eaa4";
$icon-minus: "\eaa5";
$icon-info: "\eaa6";
$icon-cancel-circle: "\eaa7";
$icon-blocked: "\eaa8";
$icon-cross: "\eaa9";
$icon-checkmark: "\eaaa";
$icon-checkmark2: "\eaab";
$icon-spell-check: "\eaac";
$icon-enter: "\eaad";
$icon-exit: "\eaae";
$icon-play2: "\eaaf";
$icon-pause: "\eab0";
$icon-stop: "\eab1";
$icon-previous: "\eab2";
$icon-next: "\eab3";
$icon-backward: "\eab4";
$icon-forward2: "\eab5";
$icon-play3: "\eab6";
$icon-pause2: "\eab7";
$icon-stop2: "\eab8";
$icon-backward2: "\eab9";
$icon-forward3: "\eaba";
$icon-first: "\eabb";
$icon-last: "\eabc";
$icon-previous2: "\eabd";
$icon-next2: "\eabe";
$icon-eject: "\eabf";
$icon-volume-high: "\eac0";
$icon-volume-medium: "\eac1";
$icon-volume-low: "\eac2";
$icon-volume-mute: "\eac3";
$icon-volume-mute2: "\eac4";
$icon-volume-increase: "\eac5";
$icon-volume-decrease: "\eac6";
$icon-loop: "\eac7";
$icon-loop2: "\eac8";
$icon-infinite: "\eac9";
$icon-shuffle: "\eaca";
$icon-arrow-up-left: "\eacb";
$icon-arrow-up: "\eacc";
$icon-arrow-up-right: "\eacd";
$icon-arrow-right: "\eace";
$icon-arrow-down-right: "\eacf";
$icon-arrow-down: "\ead0";
$icon-arrow-down-left: "\ead1";
$icon-arrow-left: "\ead2";
$icon-arrow-up-left2: "\ead3";
$icon-arrow-up2: "\ead4";
$icon-arrow-up-right2: "\ead5";
$icon-arrow-right2: "\ead6";
$icon-arrow-down-right2: "\ead7";
$icon-arrow-down2: "\ead8";
$icon-arrow-down-left2: "\ead9";
$icon-arrow-left2: "\eada";
$icon-circle-up: "\eadb";
$icon-circle-right: "\eadc";
$icon-circle-down: "\eadd";
$icon-circle-left: "\eade";
$icon-tab: "\eadf";
$icon-move-up: "\eae0";
$icon-move-down: "\eae1";
$icon-sort-alpha-asc: "\eae2";
$icon-sort-alpha-desc: "\eae3";
$icon-sort-numeric-asc: "\eae4";
$icon-sort-numberic-desc: "\eae5";
$icon-sort-amount-asc: "\eae6";
$icon-sort-amount-desc: "\eae7";
$icon-command: "\eae8";
$icon-shift: "\eae9";
$icon-ctrl: "\eaea";
$icon-opt: "\eaeb";
$icon-checkbox-checked: "\eaec";
$icon-checkbox-unchecked: "\eaed";
$icon-radio-checked: "\eaee";
$icon-radio-checked2: "\eaef";
$icon-radio-unchecked: "\eaf0";
$icon-crop: "\eaf1";
$icon-make-group: "\eaf2";
$icon-ungroup: "\eaf3";
$icon-scissors: "\eaf4";
$icon-filter: "\eaf5";
$icon-font: "\eaf6";
$icon-ligature: "\eaf7";
$icon-ligature2: "\eaf8";
$icon-text-height: "\eaf9";
$icon-text-width: "\eafa";
$icon-font-size: "\eafb";
$icon-bold: "\eafc";
$icon-underline: "\eafd";
$icon-italic: "\eafe";
$icon-strikethrough: "\eaff";
$icon-omega: "\eb00";
$icon-sigma: "\eb01";
$icon-page-break: "\eb02";
$icon-superscript: "\eb03";
$icon-subscript: "\eb04";
$icon-superscript2: "\eb05";
$icon-subscript2: "\eb06";
$icon-text-color: "\eb07";
$icon-pagebreak: "\eb08";
$icon-clear-formatting: "\eb09";
$icon-table: "\eb0a";
$icon-table2: "\eb0b";
$icon-insert-template: "\eb0c";
$icon-pilcrow: "\eb0d";
$icon-ltr: "\eb0e";
$icon-rtl: "\eb0f";
$icon-section: "\eb10";
$icon-paragraph-left: "\eb11";
$icon-paragraph-center: "\eb12";
$icon-paragraph-right: "\eb13";
$icon-paragraph-justify: "\eb14";
$icon-indent-increase: "\eb15";
$icon-indent-decrease: "\eb16";
$icon-share: "\eb17";
$icon-new-tab: "\eb18";
$icon-embed: "\eb19";
$icon-embed2: "\eb1a";
$icon-terminal: "\eb1b";
$icon-share2: "\eb1c";
$icon-mail: "\eb1d";
$icon-mail2: "\eb1e";
$icon-mail3: "\eb1f";
$icon-mail4: "\eb20";
$icon-amazon: "\eb21";
$icon-google: "\eb22";
$icon-google2: "\eb23";
$icon-google3: "\eb24";
$icon-google-plus: "\eb25";
$icon-google-plus2: "\eb26";
$icon-google-plus3: "\eb27";
$icon-hangouts: "\eb28";
$icon-google-drive: "\eb29";
$icon-facebook: "\eb2a";
$icon-facebook2: "\eb2b";
$icon-instagram: "\eb2c";
$icon-whatsapp: "\eb2d";
$icon-spotify: "\eb2e";
$icon-telegram: "\eb2f";
$icon-twitter: "\eb30";
$icon-vine: "\eb31";
$icon-vk: "\eb32";
$icon-renren: "\eb33";
$icon-sina-weibo: "\eb34";
$icon-rss: "\eb35";
$icon-rss2: "\eb36";
$icon-youtube: "\eb37";
$icon-youtube2: "\eb38";
$icon-twitch: "\eb39";
$icon-vimeo: "\eb3a";
$icon-vimeo2: "\eb3b";
$icon-lanyrd: "\eb3c";
$icon-flickr: "\eb3d";
$icon-flickr2: "\eb3e";
$icon-flickr3: "\eb3f";
$icon-flickr4: "\eb40";
$icon-dribbble: "\eb41";
$icon-behance: "\eb42";
$icon-behance2: "\eb43";
$icon-deviantart: "\eb44";
$icon-500px: "\eb45";
$icon-steam: "\eb46";
$icon-steam2: "\eb47";
$icon-dropbox: "\eb48";
$icon-onedrive: "\eb49";
$icon-github: "\eb4a";
$icon-npm: "\eb4b";
$icon-basecamp: "\eb4c";
$icon-trello: "\eb4d";
$icon-wordpress: "\eb4e";
$icon-joomla: "\eb4f";
$icon-ello: "\eb50";
$icon-blogger: "\eb51";
$icon-blogger2: "\eb52";
$icon-tumblr: "\eb53";
$icon-tumblr2: "\eb54";
$icon-yahoo: "\eb55";
$icon-yahoo2: "\eb56";
$icon-tux: "\eb57";
$icon-appleinc: "\eb58";
$icon-finder: "\eb59";
$icon-android: "\eb5a";
$icon-windows: "\eb5b";
$icon-windows8: "\eb5c";
$icon-soundcloud: "\eb5d";
$icon-soundcloud2: "\eb5e";
$icon-skype: "\eb5f";
$icon-reddit: "\eb60";
$icon-hackernews: "\eb61";
$icon-wikipedia: "\eb62";
$icon-linkedin: "\eb63";
$icon-linkedin2: "\eb64";
$icon-lastfm: "\eb65";
$icon-lastfm2: "\eb66";
$icon-delicious: "\eb67";
$icon-stumbleupon: "\eb68";
$icon-stumbleupon2: "\eb69";
$icon-stackoverflow: "\eb6a";
$icon-pinterest: "\eb6b";
$icon-pinterest2: "\eb6c";
$icon-xing: "\eb6d";
$icon-xing2: "\eb6e";
$icon-flattr: "\eb6f";
$icon-foursquare: "\eb70";
$icon-yelp: "\eb71";
$icon-paypal: "\eb72";
$icon-chrome: "\eb73";
$icon-firefox: "\eb74";
$icon-IE: "\eb75";
$icon-edge: "\eb76";
$icon-safari: "\eb77";
$icon-opera: "\eb78";
$icon-file-pdf: "\eb79";
$icon-file-openoffice: "\eb7a";
$icon-file-word: "\eb7b";
$icon-file-excel: "\eb7c";
$icon-libreoffice: "\eb7d";
$icon-html-five: "\eb7e";
$icon-html-five2: "\eb7f";
$icon-css3: "\eb80";
$icon-git: "\eb81";
$icon-codepen: "\eb82";
$icon-svg: "\eb83";
$icon-IcoMoon: "\eb84";

