@import '../../../assets//scss/global';

.detail-content {
  border-radius: 15px;
  background-color: #343a40;
  color: #f8f9fa;
}

.form-dragon-edit {
  border-radius: 15px;
  padding: 2rem;
  background-color: $light;
  color: $dark;
}
